@use "./breakpoint.scss" as bp;
$bp: (
  base: 0px,
  xxs: 374px,
  xs: 539px,
  sm: 767px,
  md: 991px,
  lg: 1279px,
  xl: 1439px,
  xxl: 1599px,
  xxxl: 1799px,
);

.container-main {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include bp.breakpoint(base) {
    max-width: 100%;
  }

  @include bp.breakpoint(xs) {
    max-width: 100%;
  }

  @include bp.breakpoint(sm) {
    max-width: 768px;
  }

  @include bp.breakpoint(md) {
    max-width: 992px;
  }

  @include bp.breakpoint(lg) {
    max-width: 1280px;
  }

  @include bp.breakpoint(xl) {
    max-width: 1550px;
  }
}
.BlogDetailPage .Section_1 .container {
  @include bp.breakpoint(xl) {
    max-width: 1440px;
  }
}