:root {
  scroll-behavior: smooth;
  --black: #000000;
  --white: #ffffff;
  --color1: #ffd10a;
  --color3: #ffe266;
  --grad1: linear-gradient(180deg, #ff4c38 0%, #ffe266 100%);
  --grad2: linear-gradient(180deg, #ffe266 0%, #ff4c38 100%);
  --grad3: linear-gradient(90deg, #ff4c38 0%, #ffe266 100%);
  --grad4: linear-gradient(90deg, #ffe266 0%, #ff4c38 100%);
}